* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* Завдання 1*/

ul#categories {
  list-style: none;
  padding: 0;
  margin: 0;
}

.item {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #F6F6FE;
  border-radius: 5px;
}

.item h2 {
  margin: 0;
  padding-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.item li {
  list-style: none;
  margin-bottom: 5px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 5px;
  margin-left: -40px;
  padding-left: 20px;
}

/* Завдання 2*/

.gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.gallery li {
  width: calc(33.33% - 20px);
  margin: 10px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.gallery img {
  width: 100%;
  object-fit: cover;
}

/* Завдання 3*/

input#name-input {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

h1 {
  font-size: 24px;
  margin: 20px 0;
}


/* Завдання 4*/

.login-form {
  width: 300px;
  margin: 0 auto;
}

.login-form label {
  display: block;
  margin-bottom: 10px;
}

.login-form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4E75FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Завдання 5*/

.widget {
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.widget p {
  margin: 0;
  font-size: 16px;
}

.widget .color {
  color: #666;
}

.widget .change-color {
  display: block;
  margin-top: 10px;
  padding: 10px;
  background-color: #4E75FF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}


/* Завдання 6*/

#controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#controls input {
  width: 50px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#controls button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#boxes {
  display: flex;
  flex-wrap: wrap;
}

#boxes div {
  width: 30px;
  height: 30px;
  margin: 5px;
  background-color: #ccc;
}



